.comment-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.comment-avatar{
    margin-right: 10px;
}
.comment-link{
    text-decoration: none;
    box-shadow: none;
    color: white;
}